<ol>
  <li><strong>Aggregate count of participants by year of birth:</strong> <%= @participant_count_by_birth_yr %></li>
  <li><strong>Aggregate count of participants by coordinator and gender:</strong> <%= @participant_count_by_cordinator_and_gender %></li>
</ol>
